# ignore it all
/*

# but not these dotfiles
!README.md
!.gitignore
!.gitignore_global
!.gitconfig
!.bashrc
!.inputrc
!.bash_aliases
!.bash_funcs
!.hgrc
!.hgignore
!.tmux.conf
!goog.vim
!.bashgoodies
!Dockerfile
!/.config
/.config/*
!/.config/starship.toml
!/.config/jj
!/.tmux/plugins/tpm
