[user]
    email = andwilley@gmail.com
    name = Drew Willey
[push]
    default = simple
[core]
    editor = nvim
    excludesfile = ~/.gitignore_global
[diff]
    tool = nvim
[difftool "nvim"]
    prompt = false
    cmd = nvim -d -R $LOCAL $REMOTE
[merge]
    tool = nvim
    conflictstyle = diff3
[mergetool "nvim"]
    keepBackup = false
    prompt = false
    cmd = nvim -d -R $MERGED $LOCAL $BASE $REMOTE -c "wincmd J" -c "set modifiable" -c "set write"
[alias]
    st = status
    co = checkout
    com = checkout main
    coms = checkout master
    cob = checkout -b
    cm = commit -m
    br = branch
    aa = add --all
