# ignore it all
/*

# but not these dotfiles
!README.md
!.gitignore
!.gitignore_global
!.gitconfig
!.bashrc
!.inputrc
!.bash_aliases
!.bash_funcs
!.bash_profile
!.hgrc
!.hgignore
!.tmux.conf
!goog.vim
!.bashgoodies
!Dockerfile
!AtomOneLight.itermcolors
!/.config
/.config/*
!/.config/starship.toml
!/.config/jj
!/.config/fish
!/.tmux/plugins/tpm
!GEMINI.md
