# ignore it all
/*

# but not these dotfiles
!.gitignore
!.gitignore_global
!.gitconfig
!.bashrc
!.inputrc
!.bash_aliases
!.bash_funcs
!.hgrc
!.hgignore
!.tmux.conf
!goog.vim
!.bashgoodies
!/.config
/.config/*
!/.config/starship.toml
!/.tmux/plugins/tpm
